<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgr.mapper.RoleMapper">

    <select id="selectRoleIdsByName" resultType="java.lang.Integer">
        SELECT id FROM sys_role
        WHERE role_name IN
        <foreach collection="roleList" item="roleName" open="(" separator="," close=")">
            #{roleName}
        </foreach>
    </select>

    <select id="selectRoleByUserId" resultType="java.lang.String">
        select role_name
        from sys_role r
                 join sys_user_role ur on r.id = ur.role_id
        where ur.user_id = #{userId}
    </select>

</mapper>